In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset['charges']
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\bhava\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [8]:
#print best paramter after tuning
#print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}:

In [9]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.023218,0.004966,0.004601,0.000490,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.734410,0.609451,0.731754,0.739880,0.684171,0.699933,0.049462,5
1,0.016139,0.004813,0.004402,0.001357,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.704156,0.632336,0.688425,0.638900,0.678652,0.668494,0.028126,11
2,0.010770,0.001294,0.004610,0.000374,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.603564,0.543415,0.742224,0.613413,0.589877,0.618499,0.066353,16
3,0.010003,0.001673,0.004201,0.000400,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.641765,0.599779,0.620166,0.539393,0.687734,0.617767,0.048873,17
4,0.009602,0.000801,0.004401,0.000490,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.719524,0.599498,0.656955,0.747579,0.711517,0.687015,0.052703,7
5,0.009203,0.000400,0.004297,0.000398,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.651824,0.557628,0.662909,0.663292,0.530344,0.613199,0.057315,18
6,0.052869,0.000746,0.004802,0.000748,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.747801,0.634887,0.711543,0.722266,0.731209,0.709541,0.039173,1
7,0.039830,0.002457,0.004204,0.000401,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.698536,0.646503,0.668837,0.656347,0.726590,0.679363,0.029388,8
8,0.033806,0.001167,0.004602,0.000801,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.707748,0.542550,0.688733,0.713906,0.650560,0.660699,0.063075,12
9,0.026371,0.001198,0.004097,0.000604,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.690053,0.629333,0.651412,0.705278,0.686099,0.672435,0.027841,9
10,0.032581,0.001513,0.004002,0.000633,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.716368,0.465265,0.701291,0.672964,0.667675,0.644713,0.091501,14
11,0.027226,0.002059,0.004127,0.000545,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.726824,0.555950,0.734798,0.712070,0.559999,0.657928,0.081947,13
12,0.010490,0.001010,0.004263,0.000628,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.721173,0.656115,0.719348,0.735052,0.686221,0.703582,0.028646,4
13,0.008439,0.000606,0.004460,0.000396,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.725919,0.632876,0.738229,0.737381,0.700007,0.706882,0.039495,3
14,0.008793,0.000828,0.003993,0.000453,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.573525,0.660968,0.697462,0.604687,0.680159,0.643360,0.046827,15
15,0.008582,0.000561,0.004592,0.000389,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.677185,0.564940,0.723720,0.707049,0.688972,0.672373,0.055999,10
16,0.008983,0.000535,0.004146,0.000621,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.736778,0.624488,0.691172,0.687878,0.731426,0.694348,0.040268,6
17,0.007535,0.000890,0.004109,0.000586,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.735379,0.616731,0.716506,0.761738,0.706957,0.707462,0.049070,2

In [10]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [11]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[43753.33705]

C:\Users\bhava\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"