In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset['charges']
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [10]:
#print best paramter after tuning
#print(grid.best_params_)
re=grid.cv_results_
'''#print(re)
grid_predictions=grid.predict(x_test)
#print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)'''

print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'best'}:

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008709,0.004164,0.000999,0.000001,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.727455,0.523172,0.757366,0.630650,0.677910,0.663311,0.082316,2
1,0.007230,0.003621,0.001011,0.000023,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.710169,0.558906,0.618960,0.530667,0.682936,0.620328,0.069000,11
2,0.005988,0.003572,0.001200,0.000400,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.728495,0.708301,0.650404,0.629481,0.578071,0.658951,0.054323,3
3,0.003801,0.002135,0.000999,0.000003,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.617776,0.668438,0.627500,0.544748,0.523371,0.596367,0.054064,15
4,0.005001,0.001674,0.001001,0.000002,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.662095,0.590088,0.661157,0.644641,0.520030,0.615603,0.054525,12
5,0.003801,0.001471,0.001000,0.000002,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.655458,0.545234,0.601736,0.611410,0.624027,0.607573,0.036052,14
6,0.019584,0.002080,0.000801,0.000400,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.748333,0.625790,0.609178,0.563928,0.649595,0.639364,0.061262,6
7,0.015709,0.000749,0.000902,0.000199,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.719711,0.601191,0.711345,0.556089,0.584803,0.634628,0.067666,8
8,0.012042,0.001353,0.000601,0.000491,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.712346,0.608586,0.684799,0.633124,0.605438,0.648859,0.042608,5
9,0.009474,0.000818,0.001078,0.000156,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.730836,0.677436,0.602627,0.552146,0.606415,0.633892,0.062784,9
10,0.011967,0.001139,0.000674,0.000567,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.668664,0.521232,0.661486,0.450603,0.642526,0.588902,0.087421,16
11,0.009821,0.001203,0.000937,0.000500,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.627408,0.511338,0.683321,0.471373,0.578940,0.574476,0.076532,17
12,0.003234,0.000761,0.000904,0.000474,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.747382,0.577317,0.768399,0.643810,0.661722,0.679726,0.070060,1
13,0.002205,0.000702,0.001024,0.000532,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.635988,0.627698,0.720625,0.623555,0.582885,0.638150,0.045129,7
14,0.002848,0.000507,0.000842,0.000426,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.762543,0.687939,0.620570,0.534290,0.673143,0.655697,0.075807,4
15,0.002080,0.000521,0.000701,0.000572,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.693074,0.518196,0.513461,0.533387,0.555318,0.562687,0.066807,18
16,0.002035,0.000477,0.000626,0.000513,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.757108,0.617717,0.637451,0.573518,0.527257,0.622610,0.077248,10
17,0.002282,0.000225,0.000822,0.000414,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.673543,0.685159,0.504723,0.630178,0.576874,0.614095,0.066619,13

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[63770.42801]